PROJECT_NAME=Seeze Backend API

BACKEND_CORS_ORIGINS=[""]

# MongoDB - Credentials
MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_HOST=""
MONGODB_PORT=
MONGODB_AUTH_SOURCE=""

# MongoDB - Databases/Collections
MONGODB_DATABASE_NAME=''
MONGODB_COLLECTION_NAME=''

# large language Model - Config
LLM_TYPE="local" # local | openai

# large language Model - lOCAL
LOCAL_LLM_URL=http://localhost:8000/v1
LOCAL_LLM_API_KEY=empty
LOCAL_LLM_MODEL_NAME=Qwen/Qwen3-8B

# large language Model - OpenAi
OPENAI_API_KEY=""
OPENAI_MODEL_NAME=gpt-4.1-mini #ne zna lokacije
# OPENAI_MODEL_NAME=gpt-4.1